<div class='chat__body'>
  <div class='chat__body__title'>
    <div class='chat__body__title__circle'></div>
    <div class='chat__body__title__user'>
      {{chatMessages.user}}
    </div>
    <img src='../static/img/menu.png' class='chat__body__title__img' />
  </div>
  <div class='chat__body__line'></div>
  <div class='chat__body__date'>{{chatMessages.date}}</div>
  <div class='chat__body__message__container'>
    <div class='chat__body__message'>
      {{chatMessages.text1}}
    </div>
    <div class='chat__body__message__time'>
      {{chatMessages.time1}}
    </div>
  </div>
  <img src='../static/img/camera.png' class='chat__body__img' />
  <div class='chat__body__you__container'>
    <div class='chat__body__you'>
      {{chatMessages.text2}}
    </div>
    <div class='chat__body__you__time'>
      {{chatMessages.time2}}
    </div>
  </div>

  <footer class='chat__body__footer'>
    <div class='chat__body__line'></div>
    <div class='chat__body__footer__container'>
      <img src='../static/img/attach.png' class='chat__body__footer__img' />
      <input class='chat__body__footer__input' placeholder='Сообщение' />
      <img src='../static/img/send.png' class='chat__body__footer__imgSend' />

    </div>

  </footer>
</div>