{{!< profile}}

<div class='profile'>
  <div class='profile__buttonBack'>
    <a href={{route.profile}} class='profile__buttonBack__img'>
      <img alt='arrowBack' src='../static/img/arrowBack.png' />
    </a>

  </div>
  <div class='profile__container'>
    <div class='profile__avatar'>
      <img
        alt='profile avatar'
        src='../static/img/profile_avatar.png'
        class='profile__avatar__img'
      />
    </div>
    <div class='profile__data__container'>
      {{#each changePasswordData}}
        <div class='profile__data'>
          <p class='profile__data__title'>
            {{title}}
          </p>
          <label for={{name}}></label>
          <input id={{name}} name={{name}} type='password' class='profile__data__data' value={{data}}/>
        </div>
        <div class='profile__line'></div>
      {{/each}}
    </div>
    <div class="profile__button">
    {{>buttonAuth title="Сохранить"}}

    </div>
  </div>
</div>
